body {
background-color: #375A17;
}

.nav {
	background-color: white;
	/* clear: left; */
}

li a {
    display: block;
    color: #000;
    /* padding: 8px 16px; */
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}


/*
	.nav li{
		 font-size: 80%;
		}
*/
/* Large desktop */
@media (min-width: 1200px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) { ... }


